<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Batch</th>
            <th scope="col-2">Description</th>
            <th scope="col">Part Number</th>
            <th scope="col">Serial Number</th>
            <th scope="col">Bin</th>
            <th scope="col">Qty</th>
            <th scope="col">Aircraft</th>
            <th scope="col">Engineer</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>17606</td>
            <td>FLUID SERVICING UNIT, CAPACITY 2 GALLON, MAX. PRESS. 200 PSI</td>
            <td>06-5022-6500</td>
            <td>AD12950310</td>
            <td>TOOLF1</td>
            <td>1</td>
            <td>HS-LTO</td>
            <td>TL130032</td>
            <td><a href="">Delete</a></td>
        </tr>
    </tbody>
</table>