<main role="main">
    <div class="table-title" style="margin-top: 10px">
        <div class="row">
            <div class="col-sm-8">
                <h2>Tool <b>Loan</b></h2>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-danger add-new" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="fas fa-minus-circle"></i>Tool
                    Check-Out</button>
                <button type="button" class="btn btn-success add-new"><i class="fas fa-plus-circle"></i>Tool
                    Check-In</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Batch</th>
                        <th scope="col-2">Description</th>
                        <th scope="col">Part Number</th>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Bin</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Aircraft</th>
                        <th scope="col">Egineer/ID</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>17606</td>
                        <td>FLUID SERVICING UNIT, CAPACITY 2 GALLON, MAX. PRESS. 200 PSI</td>
                        <td>06-5022-6500</td>
                        <td>AD12950310</td>
                        <td>TOOLF1</td>
                        <td>1</td>
                        <td>HS-LTO</td>
                        <td>TL130017</td>
                        <td>11 September 2019</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>