<div class="modal fade" id="modal-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Modal 1</p>

                <a href="#modal-2" data-toggle="modal" data-dismiss="modal">Next ></a>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- <form class="bg-light text-dark">
    <div class="row">
        <div class="col-6">
            <label for="engineer">Engineer ID</label>
            <input type="text" name="engineer_id" class="form-control" id="engineer" placeholder="Engineer ID" [(ngModel)]="model.engineer_id">
        </div>
        <div class="col-6">
            <label for="engineername">Engineer Name</label>
            <input type="text" name="engineer_name" readonly class="form-control-plaintext" id="engineername" value="Engineer Name" [(ngModel)]="model.engineer_name">
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <label for="exampleFormControlSelect1">Aircraft</label>
            <select class="form-control" id="exampleFormControlSelect1" name="aircraft" [(ngModel)]="model.aircraft">
                <option>--Please select Aircraft--</option>
                <option>Daily Service</option>
                <option>HS-LTP</option>
                <option>HS-LTQ</option>
                <option>HS-LTR</option>
                <option>HS-LTS</option>
                <option>HS-LTT</option>
            </select>
        </div>
        <div class="col-6">
            <label for="batch">Batch Number</label>
            <input type="text" name="batch" class="form-control" id="batch" placeholder="Batch Number" [(ngModel)]="model.batch" (keyup.enter)="batchEnter()">
        </div>
    </div>
    <br>

</form> -->