<div class="modal fade" id="checkout-header-modal">
    <div class="modal-dialog">
        <form class="bg-light text-dark" (submit)="onSubmit()" [formGroup]="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Check-Out Header</h4>
                </div>
                <div class="modal-body">


                    <div class="row form-group">
                        <div class="col-6">
                            <label for="engineer">Engineer ID</label>
                            <input type="text" class="form-control is-valid" id="engineer" placeholder="TL140XXX" style="text-transform:uppercase" formControlName="engineer_id">
                        </div>
                        <div class="col-6">
                            <label for="engineername">Engineer Name</label>
                            <input type="text" readonly class="form-control-plaintext" id="engineername" value="Engineer Name">
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col-6">
                            <label for="exampleFormControlSelect1">Aircraft</label>
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="aircraft">
                                <option>--Please select Aircraft--</option>
                                <option>Daily Service</option>
                                <option>HS-LTP</option>
                                <option>HS-LTQ</option>
                                <option>HS-LTR</option>
                                <option>HS-LTS</option>
                                <option>HS-LTT</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="flight">Flight</label>
                            <input type="text" class="form-control loading" id="flight" placeholder="SL1XX" formControlName="flight" style="text-transform:uppercase">
                        </div>
                    </div>

                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-toggle="modal">Save changes</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->