<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tool Check-Out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>



            <div class="modal-body">

                <form class="bg-light text-dark">
                    <div class="row">
                        <div class="col-6">
                            <label for="engineer">Engineer ID</label>
                            <input type="text" name="engineer_id" class="form-control" id="engineer" placeholder="Engineer ID" [(ngModel)]="model.engineer_id">
                        </div>
                        <div class="col-6">
                            <label for="engineername">Engineer Name</label>
                            <input type="text" name="engineer_name" readonly class="form-control-plaintext" id="engineername" value="Engineer Name" [(ngModel)]="model.engineer_name">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="exampleFormControlSelect1">Aircraft</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="aircraft" [(ngModel)]="model.aircraft">
                                <option>--Please select Aircraft--</option>
                                <option>Daily Service</option>
                                <option>HS-LTP</option>
                                <option>HS-LTQ</option>
                                <option>HS-LTR</option>
                                <option>HS-LTS</option>
                                <option>HS-LTT</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="batch">Batch Number</label>
                            <input type="text" name="batch" class="form-control" id="batch" placeholder="Batch Number" [(ngModel)]="model.batch" (keyup.enter)="batchEnter()">
                        </div>
                    </div>
                    <br>

                </form>

                <h5>Tool Detail</h5>

                <check-out-detail></check-out-detail>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Check-Out</button>
            </div>

        </div>
    </div>
</div>